body {
  background: url("https://i.redd.it/glehaz6btt031.png");
}

/* styling for headers */
h1 {
  text-align: center;
  color: aliceblue;
  margin-top: 120px;
}

/* styling for headers */
h3 {
  color: aliceblue;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  color: aliceblue;
  border-style: solid;
}

/* styling for button below */
button {
  background-color: #ebeae4; /* Green */
  color: rgb(0, 0, 0);
  padding: 40px 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 2px;
}

form {
  display: flex;
  justify-content: center;
}
