/* set body color to purple */
body {
  background-color: rgb(133, 21, 133);
}

/* sizing main page image */
.jeop-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* styling for headers */
h1 {
  padding: none;
  color: rgb(251, 249, 251);
  font-size: 4vw;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

#timer {
  height: 50px;
}
