body {
  background: url("https://i.redd.it/glehaz6btt031.png");
}

.border {
  padding-top: 50px;
  padding-left: 270px;
  padding-right: 270px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  padding-top: 10vh;
  font-size: 50px;
  text-align: center;
  color: aliceblue;
}
h2 {
  text-align: center;
  color: aliceblue;
  padding-top: 10px;
}

.container {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(6, 3fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 20px;
  grid-template-areas: "one" "two" "three" "four" "five" "six";
}

.one {
  grid-area: one;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 1;
  grid-row: 1;
}

.two {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 2;
  grid-row: 1;
}

.three {
  grid-area: 3;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-area: 4;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 4;
  grid-row: 1;
}

.five {
  grid-area: 5;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 5;
  grid-row: 1;
}

.six {
  grid-area: 6;
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
  grid-column: 6;
  grid-row: 1;
}

.nextPage {
  position: fixed;
  bottom: 460px;
  right: 100px;
}

.oneHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

.twoHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

.threeHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

.fourHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

.fiveHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

.sixHun {
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: blanchedalmond;
}

form {
  display: flex;
  justify-content: center;
}

.gameButt {
  display: flex;
  justify-content: center;
  margin: 20px;
}

#button {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.score {
  color: aliceblue;
  display: flex;
  text-align: end;
  justify-content: space-evenly;
  margin-top: 50px;
}

#timer {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
